<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <!--이부분은 걍 css 코드임 신경쓸필요 없음-->
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Product List</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Image</th>
        <th>Quantity</th>
      </tr>
      <!-- products 배열에 있는 각 제품에 대한 정보를 반복하여 출력 -->
      {% for product in products %}
      <!-- html 내에서 반복문 출력하는 부분-->
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
          <img src="{{ path + product.image }}" />
        </td>
        <td>{{ product.num }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
