.itemBack {
<<<<<<< HEAD
  margin-bottom: 55vh;
=======
<<<<<<< HEAD
  margin-bottom: 100vh;
>>>>>>> origin/master
  width: 99%;
  margin-left: 0.5%;

  background-color: rgb(255, 255, 255);
}

.container {
  width: 22.5%;
  height: 5%;
  margin-top: 10px;
  


}
.container > img {
  padding-left: 35%;
  width:25%;
  height:25%;
  object-fit:cover;
}
.itemMap {
  width: 100%;
  height: 48vh;

  line-height: 70px;
  font-size: 1.3rem;

}
.itemNameContainer {
  width: 22.5%;
  height: 70px;
  margin-left: 32.5%;
  margin-top: 10px;
  text-align: center;
  font-size : 20px;
  position: absolute;


}
.itemflex {
  display: flex;
}
.itemId {
  margin-left: 0.5%;
  width: 10%;
  height: 70px;
  margin-top: 10px;
  padding-left: 10px;
  text-align: center;
}



.itemPrice {
  width: 22.5%;
  height: 70px;
  margin-left: 76.5%;
  text-align: center;

  margin-top: 10px;
  position: absolute;


}

.itemcounter {
  width: 22.5%;
  height: 70px;
  margin-left: 55%;
  margin-top: 10px;

  position: absolute;
  display: flex;

}
.itemAmount {
  width: 34%;
  height: 70px;
  text-align: center;

}
<<<<<<< HEAD
=======
.button_plus {
=======
  margin-bottom: 55vh;
  width: 99%;
  margin-left: 0.5%;

  background-color: rgb(255, 255, 255);
}

.container {
  width: 22.5%;
  height: 5%;
  margin-top: 10px;
  


}
.container > img {
  padding-left: 35%;
  width:25%;
  height:25%;
  object-fit:cover;
}
.itemMap {
  width: 100%;
  height: 48vh;

  line-height: 70px;
  font-size: 1.3rem;

}
.itemNameContainer {
  width: 22.5%;
  height: 70px;
  margin-left: 32.5%;
  margin-top: 10px;
  text-align: center;
  font-size : 20px;
  position: absolute;


}
.itemflex {
  display: flex;
}
.itemId {
  margin-left: 0.5%;
  width: 10%;
  height: 70px;
  margin-top: 10px;
  padding-left: 10px;
  text-align: center;
}



.itemPrice {
  width: 22.5%;
  height: 70px;
  margin-left: 76.5%;
  text-align: center;

  margin-top: 10px;
  position: absolute;


}

.itemcounter {
  width: 22.5%;
  height: 70px;
  margin-left: 55%;
  margin-top: 10px;

  position: absolute;
  display: flex;

}
.itemAmount {
  width: 34%;
  height: 70px;
  text-align: center;

}
>>>>>>> origin/master
.divplus{
  width: 33%;
  height: 70px; 
  margin-bottom: 35%;

}
.divminus{
  width: 33%;
  height: 70px; 


}
.divplus > button {
<<<<<<< HEAD
=======
>>>>>>> origin/master
>>>>>>> origin/master
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
<<<<<<< HEAD
  left: 33%;
  top : 35px;
=======
<<<<<<< HEAD

  /* Mittig */
  margin-top: 10px;
  right: 37%;
=======
  left: 33%;
  top : 35px;
>>>>>>> origin/master
>>>>>>> origin/master
}

.button_plus:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: black;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: black;
  transition: 0.2s;
}

.button_minus {
  position: absolute;
  width: 35px;
  height: 35px;

  background: #fff;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
  /* Mittig */
<<<<<<< HEAD
  top : 35px;
  right: 33%; /* 오른쪽 위치를 조정하여 원하는 위치로 배치하세요 */
=======
<<<<<<< HEAD
  margin-top: 10px;
  right: 27.5%; /* 오른쪽 위치를 조정하여 원하는 위치로 배치하세요 */
=======
  top : 35px;
  right: 33%; /* 오른쪽 위치를 조정하여 원하는 위치로 배치하세요 */
>>>>>>> origin/master
>>>>>>> origin/master
}

.button_minus:before {
  content: "-";
  position: absolute;
  font-size: 35px; /* 원하는 폰트 크기로 조정하세요 */
  font-weight: bold; /* 폰트 굵기 설정 */
  top: 40%;
  left: 37%;
  transform: translate(-50%, -50%);
  color: black; /* 마이너스 기호 색상 설정 */
  width: 4px;
  transition: color 0.2s; /* 색상 전환에 트랜지션 추가 */
}

.button_minus:hover {
  background-color: black;
}

.button_minus:hover:before {
  color: #fff; /* 마우스 호버 시 마이너스 기호 색상 변경 */
}

.buttonContainer {
  margin-left: 40px;
  margin-top: 130px;
  width: 500px;
  height: 60px;
}

.buttonClear {
  width: 48%;
  height: 100%;
  background-color: #a9a9a9;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
<<<<<<< HEAD
  border-radius: 5px;

=======
<<<<<<< HEAD
  border-radius: 5%;
=======
  border-radius: 5px;

>>>>>>> origin/master
>>>>>>> origin/master
}
.buttonCall {
  margin-left: 4%;
  width: 48%;
  height: 100%;
  border: none;
  background-color: #d24232;
  color: white;
  font-size: 30px;
  font-weight: bold;
<<<<<<< HEAD
  border-radius: 5px;
=======
<<<<<<< HEAD
  border-radius: 5%;
=======
  border-radius: 5px;
>>>>>>> origin/master
>>>>>>> origin/master
}
