.counterBack {
<<<<<<< HEAD
  margin-top: -15px;
  margin-left: 60px;
  height: 50px;
}
.numContainer {
  display: flex;
  width: 350px;
  font-size: 30px;
  font-weight: bold;
}

.priceContainer {
  margin-top: -50px;
  display: flex;
  width: 1200px;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
}

.allAmount {
  width: 30%;
  text-align: left;
}

.sumAmount {
  width: 60%;
  margin-left: 10%;
  text-align: right;
}

.allPrice {
  width: 17%;
  text-align: left;
}
.sumPrice {
  width: 14%;
  margin-left: -1.5%;
=======
  margin-top: 30px;
  height: 17.8vh;
  width : 99vw;
  font-size: 40px;
  
}

.numContainer {
  display: flex;
  width: 97vw;
  font-weight: bold;
  text-align: left;
}

.numdiv{
  display: flex;
  width: 30.61%;
  font-size: 40px;
  font-weight: bold;
  margin-left : 2%;
}

.priceContainer {
  margin-top: -2%;
  margin-left : 2%;
  display: flex;
  width: 97vw;
  font-size: 40px;
  font-weight: bold;
}

.allAmount{
  width: 40%;
  text-align : left;
}

.allsum{
  display: flex;
  width: 30.61%;
  font-size: 40px;
}

.sumAmount {
 width: 60%;
 text-align: right;

}


.allPrice {
  width: 40%;
  text-align: left;

}
.sumPrice {
  width: 60%;
>>>>>>> origin/master
  text-align: right;
  color: #d24232;
}

.payButton {
  border: none;
  cursor: pointer;
<<<<<<< HEAD
  margin-left: 440px;
  margin-top: 25px;
  width: 25%;
  font-size: 40px;
  height: 70px;
=======
  margin-left : 55%;
  margin-top: 35px;
  width: 295px;
  font-size: 40px;
  height: 38%;
>>>>>>> origin/master
  color: white;
  background-color: #d24232;
  border-radius: 15px;
  font-weight: bold;
}
