.counterBack {
  margin-top: 30px;
  height: 17.8vh;
  width : 99vw;
  font-size: 40px;
  
}

.numContainer {
  display: flex;
  width: 97vw;
  font-weight: bold;
  text-align: left;
}

.numdiv{
  display: flex;
  width: 30.61%;
  font-size: 40px;
  font-weight: bold;
  margin-left : 2%;
}

.priceContainer {
  margin-top: -2%;
  margin-left : 2%;
  display: flex;
  width: 97vw;
  font-size: 40px;
  font-weight: bold;
}

.allAmount{
  width: 40%;
  text-align : left;
}

.allsum{
  display: flex;
  width: 30.61%;
  font-size: 40px;
}

.sumAmount {
 width: 60%;
 text-align: right;

}


.allPrice {
  width: 40%;
  text-align: left;

}
.sumPrice {
  width: 60%;
  text-align: right;
  color: #d24232;
}

.payButton {
  border: none;
  cursor: pointer;
  margin-left : 55%;
  margin-top: 35px;
  width: 295px;
  font-size: 40px;
  height: 38%;
  color: white;
  background-color: #d24232;
  border-radius: 15px;
  font-weight: bold;
}
