@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'JalnanGothic', sans-serif; /* 웹폰트 적용 */
}
.Header2 {
    width: 100%;
    height: 120px;
    color: white;
    font-size: 2rem;
}
  
.goods2 {
    width: 36%;
    height: 140px;
    background-color: #a9a9a9;
    position: absolute;
  
    text-align: center;
    line-height: 110px;
    font-weight: bold;
}
  
  .pay2 {
    margin-left: 36%;
    width: 32%;
    height: 140px;
    background-color: #a9a9a9;
    position: absolute;
  
    text-align: center;
    line-height: 110px;
    font-weight: bold;
  }
  
.done2 {
    margin-left: 68%;
    width: 32%;
    height: 140px;
    background-color: #d24232;
    position: absolute;
    text-align: center;
    line-height: 110px;
    font-weight: bold;
}
.background{
    width: 100%;
    height: 90.9vh;
    background-color: #d24232;
    overflow: hidden
}

.string{
    width: 99%;
    height: 47vh;
    padding-top : 20%;
    font-size : 50px;
    margin-left : 0.5%;
    margin-top : 1.8%;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
