@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
.HomePage {
  width: 1440px;
  height: 1024px;
}

.ownerCall {
  width: 100%;
  height: 100px;
  margin: 0px;
  background-color: #d24232;
  color: white;
  font-size: 3.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.selfCounter {
  margin-left: 250px;
  margin-top: 100px;
  width: 624px;
  height: 157px;
  font-size: 5rem;
  font-weight: bold;
}
.back {
  margin-left: 650px;
  margin-top: 100px;
  width: 200px;
  height: 200px;
  background-color: white;
  position: relative;
  border-radius: 30%;
}
.img {
  margin-left: 680px;
  margin-top: -170px;
  width: 285px;
  height: 285px;
  background-image: url("./doubleClick.png");
  background-repeat: no-repeat;

  position: relative;
  background-size: 60%;
}

.start {
  padding-right: 100px;
  margin-left: 250px;
  width: 488px;
  height: 188px;
  font-size: 5rem;
  border: none;
  font-weight: bold;
  background-color: #d24232;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
}
